<div class='row'>
    <div class='col-xs-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Details
                <table class='table table-responsive table-striped'>
                    <tbody>
                        <tr>
                            <th>Population</th>
                            <td>{{ manila_details.population }}</td>
                        </tr>
                        <tr>
                            <th>Area</th>
                            <td>{{ manila_details.area }} sq. km</td>
                        </tr>
                        <tr>
                            <th>Barangays</th>
                            <td><span class='label label-{{ current_details.label }}'>{{ current_details.barangays }}</span> / {{ manila_details.barangays }}</td>
                        </tr>
                        <tr>
                            <th>Malls</th>
                            <td><span class='label label-{{ current_details.label }}'>{{ current_details.malls }}</span> / {{ manila_details.malls }}</td>
                        </tr>
                        <tr>
                            <th>Offices</th>
                            <td><span class='label label-{{ current_details.label }}'>{{ current_details.office }}</span> / {{ manila_details.office }}</td>
                        </tr>
                        <tr>
                            <th>Residentials</th>
                            <td><span class='label label-{{ current_details.label }}'>{{ current_details.residentials }}</span> / {{ manila_details.residentials }}</td>
                        </tr>
                        <tr>
                            <th>Hospitals</th>
                            <td><span class='label label-{{ current_details.label }}'>{{ current_details.hospitals }}</span> / {{ manila_details.hospitals }}</td>
                        </tr>
                        <tr>
                            <th>Churches</th>
                            <td><span class='label label-{{ current_details.label }}'>{{ current_details.churches }}</span> / {{ manila_details.churches }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='col-xs-8'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Map
            </div>
            <div class='panel-body'>
                <map center='14.554729, 121.024445' style='height: 500px;'>
                    <shape name="polygon" paths="{{ salcedo }}" stroke-color="#C2185B" stroke-opacity="0.8" stroke-weight="2" fill-color="#E91E63" fill-opacity="0.35" on-click='get_salcedo_details()'>
                    </shape>
                    <shape name="polygon" on-click="get_legazpi_details()" paths="{{ legazpi }}" stroke-color="#0288D1" stroke-opacity="0.8" stroke-weight="2" fill-color="#03A9F4" fill-opacity="0.35">
                    </shape>
                </map>
            </div>
        </div>
    </div>
</div>

